:root {
  --main-color: #3b82f6;
  --main-text: #111827;
  --sub-text: #374151;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.header-image {
  background: linear-gradient(175deg, var(--main-color) 75%, white 25%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 25px 0 25px;
  position: relative;
}

.header-image > img {
  max-width: 80%;
  max-height: 350px;
  object-fit: cover;
}

.header-image > span {
  position: absolute;
  font-size: 2.5rem;
  color: white;
  bottom: 10px;
  max-width: 300px;
}

.header-spacer {
  display: none;
}

.header-quote {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  margin: 0 2%;
  padding: 0 5%;
  text-align: left;
  justify-content: center;
  color: var(--sub-text);
  gap: 5px;
}

.header-quote > span {
  width: 90%;
}

.header-quote span:nth-child(2) {
  color: var(--main-text);
  font-size: 2em;
  text-align: center;
}

.header-links {
  display: flex;
  justify-content: space-between;
  width: 35%;
  max-width: 150px;
  margin: 0 auto;
}

.header-links > a > img {
  width: 30px;
  height: auto;
}

.my-work {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
}

.my-work > span:first-child {
  font-size: 2rem;
  text-align: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 375px;
  min-width: 200px;
}

.project-card > img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.project-name {
  font-size: 1.25rem;
  padding: 10px 20px;
  display: flex;
  gap: 15px;
}

.project-name > a > img {
  width: 25px;
  height: auto;
}

.project-name > a:first-of-type {
  margin-left: auto;
}

.project-description {
  padding: 0 20px;
  color: var(--sub-text);
}

.footer-top {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 15px;
  justify-content: center;
  color: white;
}

.footer-top span:first-of-type {
  font-size: 2rem;
}

.footer-top span:nth-child(2) {
  font-size: 1.2rem;
}

.footer-top span:nth-child(4),
.footer-top span:nth-child(5) {
  display: flex;
  align-items: center;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.footer-icons > a > img {
  width: 40px;
}

.footer-bottom > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 650px) {
  .header {
    display: block;
    position: relative;
    padding-bottom: 60px;
    width: 100%;
  }

  .header-image {
    display: block;
    height: 300px;
  }
  .header-image > img {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 250px;
    height: 250px;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .header-image > span {
    position: absolute;
    font-size: 3rem;
    top: 70px;
    left: 270px;
    z-index: 101;
  }

  .header-image > span::first-letter {
    color: var(--main-text);
  }

  .header-quote {
    position: absolute;
    top: 150px;
    left: 90px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 70%;
    display: block;
  }

  .header-quote-spacer {
    display: inline-block;
    float: left;
    height: 130px;
    width: 180px;
  }

  .header-quote > span:nth-child(2) {
    margin-left: 40px;
  }

  .header-links {
    display: none;
  }

  .my-work {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .my-work > span {
    flex-basis: 100%;
  }

  .project-card {
    max-width: 250px;
  }

  .footer {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
  }

  .footer-top {
    max-width: 350px;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-icons {
    justify-content: flex-start;
  }

  .footer-bottom {
    max-width: 350px;
    margin-right: auto;
    padding-right: 25px;
  }

  .footer-bottom > img {
    max-width: 350px;
    min-height: 300px;
  }
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0;
    height: 450px;
    width: 100%;
    background: linear-gradient(175deg, var(--main-color) 55%, white 25%);
    padding-bottom: 0;
    overflow: hidden;
  }

  .header-image {
    width: 350px;
    height: 350px;
    background: none;
    position: relative;
    padding: 0;
    z-index: 100;
  }

  .header-image > img {
    position: static;
    width: 400px;
    height: 400px;
    max-width: 100%;
  }

  .header-image > span {
    position: absolute;
    top: unset;
    left: unset;
    bottom: 10px;
    left: 40px;
    max-width: 450px;
    color: white;
    font-size: 3rem;
  }

  .header-image > span::first-letter {
    color: white;
  }

  .header-spacer {
    display: block;
    width: 450px;
    height: 350px;
  }

  .header-quote {
    position: absolute;
    width: 500px;
    height: 200px;
    top: 95px;
    left: unset;
    transform: translateX(35%);
  }

  .header-quote-spacer {
    display: block;
    height: 200px;
    width: 10px;
  }

  .header-quote span:nth-child(2) {
    margin-left: 0;
  }

  .header-links {
    display: flex;
    position: absolute;
    top: 305px;
    transform: translateX(80px);
  }

  .my-work {
    max-width: 1100px;
    margin: 0 auto;
  }

  .footer-top, .footer-bottom {
    max-width: 400px;
  }

  .footer-bottom > img {
    max-width: 375px;
    min-height: 350px;
  }

}
